/crash-reports
/local
/logs
/natives
/patchouli_books
/resourcepacks
/saves
/screenshots
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
config.json
options.txt
patchouli_data.json
simple-rpc.bak
usercache.json
usernamecache.json
authlib-injector.log
icon.png
config/xaerominimap_entities.json
